.AppClass {
  background-color: #31464e;
  text-align: center;
  font-size: calc(40px + 2vmin);
  color: #cfbfae;
  padding: 0 1rem;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}
.LogoClassMain{
  height: 0vmin;
  pointer-events: none;
  width: 0%;
}
@media (300px <= width <= 900px){
  .LogoClassMain {
    height: 20vmin;
    width: 60%;
  }
}

.LogoClass{
  scale: 0.7;
  height: 30vmin;
  pointer-events: none;
}
@media (300px <= width <= 900px){
  .LogoClass {
    scale: 0.5;
    width: 100%;

  }
}

.HeaderClass {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  font-style:normal;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 10000;
}
@media (300px <= width <= 900px){
  .HeaderClass {
    font-size: calc(30px + 2vmin);
  }
}
.AppClass nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(20px + 2vmin);
  font-style:normal;
  font-weight: 200;
  line-height: 1;
}
@media (300px <= width <= 900px){
  .AppClass nav {
    font-size: calc(5px + 2vmin);
  }
}
.AppClass nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: 1.5rem;

}
@media (300px <= width <= 900px){
  .AppClass nav a{
    font-size: calc(8px + 2vmin);
    padding: 0.35rem;
  }
}
.AppClass nav li.active{
  background-color: black;
}
.AppClass nav li:hoover{
  background-color: black;
}

.AppClass ul{
  padding: 0;
  margin: 0;
  flex-direction: row;
  list-style: none;
  display: flex;
  gap: 2rem;
}

@media (300px <= width <= 900px){
  .AppClass ul {
    gap: 0rem;
  }
}



